<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@ViewBag.Title</title>
<link href="~/Content/_Layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
        <div id="sub_header">
            <div id="title_div" style="float:left;"><span class="title">IDEIBIBLIO</span></div>
            <div id="nav_div">
                <ul class="navigation">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>                          
                </ul>
            </div>            
            <div id="auth_div">@Html.ActionLink("login", "Index", "Auth") <span>|</span> @Html.ActionLink("registar", "Registo", "Auth")</div>
            <div style="clear:both; width:auto;"></div>
        </div>    	
    </div>
    <div id="content">
		@RenderBody()
	</div>
</div>

</body>
</html>